<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <!-- <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        <div>{{ posts }}</div>  -->
        <!-- ###Muestra todo el QuerySet sin salida formateada### -->
        <!-- <div>{% for post in posts %} {{ post }}{% endfor %}</div>
        ###Muestra todo el QuerySet elemento a elemento### -->

        <div>
            <h1><a href = "/" > Django chicas Blog </a></h1>
        </div>

        {% for post in posts %} 
        <!-- Para cada elemento de la lista de post-->
        <div>
        <!-- Mostramos cada atributo en la salida de la página web -->
            <p> publicado: {{ post.published_date }} </p>
            <h1><a href = "" >{{ post.title }} </a></h1>
            <p>{{ post.text|linebreaksbr }} </p>
            <!-- linebreaksbr analiza si en el texto hay saltos de línea
            para incluirlos en la visualización de la página -->
        </div>
        {% endfor %}
        
    </body>
</html>