{% extends 'blog/base.html' %}
<!-- Con esto digo que plantilla será la que se rellene con este bloque -->
{% block content %}

    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1> 
            <!-- post.pk (es decir, el atributo pk) se crea automáticamente y es un contador del registro en el que se encuentra cada dato dentro de la BBDD -->
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}

{% endblock %}

<!-- {% for post in posts %}  -->
        <!-- ###Para cada elemento de la lista de post-->
        <!-- <div class="post"> -->
        <!--### Mostramos cada atributo en la salida de la página web -->
            <!-- <p> publicado: {{ post.published_date }} </p>
            <h1><a href = "" >{{ post.title }} </a></h1>
            <p>{{ post.text|linebreaksbr }} </p> -->
            <!-- ###linebreaksbr analiza si en el texto hay saltos de línea
            para incluirlos en la visualización de la página -->            
<!-- {% endfor %} -->
